/_build
/cover
/deps
erl_crash.dump
*.ez
*.beam
/rprel
/test/rprel/test_build_failure/BUILD-INFO
/test/rprel/test_no_buildsh/BUILD-INFO
/test/rprel/test_no_buildsh/*.tar.gz
/BUILD-INFO
/*tar.gz
/test/rprel/test_build/*tar.gz
/test/rprel/test_build_archive/BUILD-INFO
/test/rprel/test_build_archive/*.tar.gz
/test/rprel/test_fail_archive/BUILD-INFO
/test/rprel/test_build_failure/*.tar.gz
/test/rprel/*.tar.gz
/test/rprel/test_build_archive/20160610-109-39b38b6.tar.gz
/test/rprel/test_fail_archive/*.tar.gz
